@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Sacramento&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins-regular,sans-serif;
}


:root{
    ---white: #fff;
    ---shadow-gray: #ccc;
    --custom-blue: #187feb;
}

.nav-bar{
    .logo-healine{
        font-size: 24px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:32px 0;
}

.nav-items{
    li{
        padding: 0 10px;
    }
 font-size: 16px;
 display: flex;
 align-items: center;
 list-style: none;   
}



.nav-bar-sm{
    >img{
       width: 35px;
       height: 35px; 
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}




@media only screen and (max-width: 599px)  and (min-width: 220px){
    .nav-bar{
        display: none;
    }
    .nav-bar-sm{
        display: flex;
    }
}

@media only screen and (min-width: 600px){
    .nav-bar-sm{
        display: none;
    }
    .nav-bar{
        display: flex;
    }
}

@media only screen and (max-width: 299px){
    .nav-bar-sm{
        display: none;
    }
    .nav-bar{
        display: none;
    }
}


//Header and Hero
.angled-arrow{
    transform: rotate(22.5deg);
}

header{
    height: 80vh;
    display: flex;
    align-items: center;
}

//medium to large screens
@media only screen and (min-width: 600px){
    .hero-bg-img{
        background-image: url('/src/assets/pexels-tranmautritam-245032.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// small screens
@media only screen and (max-width: 599px)  and (min-width: 220px){
    .width-30,.width-40, .width-50, .width-60{
        width: 100% !important;
    }
    .margin-y-120{
        margin: 20px 0 !important;
    }
    .margin-l-120{
        margin-left: 10px !important;
    }

    .padding-40{
        padding: 20px !important;
    }
    .grid{
        display: block !important;
    }
}
//Hero section
.featured-area{
    width: 580px;
    height: 540px;
    background-image: url('/src/assets/pexels-christina-morillo-1181317.jpg');
    background-size: cover;
}

@media only screen and (max-width: 599px)  and (min-width: 220px){
    .featured-area{
        display: none;
    }
    .hidden-sm{
        display: none;
    }
}


//Utilities
.width-30{
    width:30%;
}
.width-40{
    width: 40%;
}
.width-50{
    width:50%;
}
.width-60{
    width: 60%;
}
.width-70{
    width: 70%;
}

.width-auto{
    width: auto;
}

.padding-10{
    padding: 10px;
}
.padding-20{
    padding: 20px;
}
.padding-40{
    padding: 40px;
}
.padding-x-10{
    padding: 0 40px;
}
.padding-y-10{
    padding: 10px 0;
}
.margin-10{
    margin: 10px;
}
.margin-x-40{
    margin: 0 40px;
}
.margin-y-10{
    margin: 10px 0;
}
.margin-y-20{
    margin: 20px 0;
}
.margin-y-40{
    margin: 40px 0;
}
.margin-t-10{
    margin-top:10px
}
.margin-t-40{
    margin-top: 40px;
}
.margin-y-120{
    margin: 120px 0;
}
.margin-l-120{
    margin-left: 120px;
}
.line-h{
    line-height: 1.3rem;
}
.line-h-05{
    line-height: 1.5;
}
.bg-white{
    background-color: var(---white);
}
.flex{
    display: flex;
}
.gap-20{
    gap: 20px;
}
.flex-justify-center{
    justify-content: center;
}
.flex-justify-right{
    justify-content: right;
}
.flex-space-even{
    justify-content: space-evenly;
}
.flex-align-center{
    align-items: center;
}
.grid{
    display: grid;
}
.grid-cols-2{
    grid-template-columns: 50% 50%;
}
//Components
//Button
button:hover{
    cursor: pointer;
}
.outline-button, .primary-btn{
    padding: 14px 24px;
    background-color: var(--custom-blue);
    color: var(---white);
    border: unset;
    outline: unset;
    border-radius: 4px;
}
.outline-button{
    color: var(--custom-blue);
    background-color: unset;
    border: 2px solid var(--custom-blue);
}




 
//Typography
h4{
    font-size: 12px;
    color: var(---shadow-gray);
}
.heading-lg{
    font-size: 72px;
}
.heading-md{
    font-size: 40px;
}
.heading-sm{
    font-size: 20px;
}
.text-white{
    color: var(---white);
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }